body {
  background-color: black;
  color: seashell;
  font-family: helvetica;
  text-align: center;
}

h2 {
  display:block;
}

a {
  text-decoration: underline;
  color: seashell;
  font-family: helvetica;
}

header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  align-items: center;
  z-index: 1;
  background-color: black;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav span {
  display: inline-flex;
  padding: 20px;
}

.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-position: center;
}

.missioncontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 1200px;
  background-color: black;
  z-index: 2;
  width: 100%;
}

.teaofthemonth {
  width: 1000px;
  margin: auto;
}

.teaofthemonthcontent {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.steep img {
  max-width: 300px;
  max-height: 200px;
  padding-bottom: 10px;
}

.locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-position: center;
}

.locationbox {
  background-color: black;
  width: 300px;
  margin: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 200px;
}

#copyright {
  text-align: left;
}

footer {
  margin-left: 20px;
}
